* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Averta, sans serif;
}   
body {
    font-family: Averta, sans-serif;
    background-image: linear-gradient(rgb(252, 243, 244), rgb(252, 243, 244), white);
}
.upper-division {
 text-align: center;
 background-color: rgb(252, 243, 244);   
}
.lower-half {
    background-color: white;
}
#zuri {
    margin-top: 5%;
    margin-bottom: 7%;
}
#zuri span {
    color: red;
}
h1 {
    margin-bottom: 1%;
}
#Unlock {
    margin: 0% 24% 0% 24%;
    font: 16px Averta, sans-serif;
    padding: 2%;
    line-height: 30px;
}
p span {
    color:#dc3545;
    font: 16px Averta, sans-serif;
}
.buttons {
    display:flex;
    margin-top: 15%;
    justify-content: center;
}


#button1 {
    margin-bottom: 25%;
    background-color:#E7332B;
    margin-right: 15px;
    border: 1px solid #E7332B;
    font-size: 20px; 
    padding: 0;
    font-family: Averta, sans-serif;
}
#button1 a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 11px 28px;
    font-family: "Averta", sans-serif;
}
#button1 a:hover {
    color: #E7332B; 
    background-color:white;
}
#button2 {
    margin-bottom: 25%; 
    background-color:white;
    margin-right: 15px;
    border: 1px solid #E7332B;
    font-size: 20px; 
    padding: 0;
    font-family: Averta, sans-serif;
}
#button2 a {
    color: #E7332B;
    text-decoration: none;
    display: block;
    padding: 11px 28px;
    font-family: Averta, sans-serif;
}
#button2 a:hover {
    color: white; 
    background-color:#E7332B;
}

#by {
    padding-top: 15%;
    color:#dc3545;
    text-align: center;
}
#cater {
    font-size: 23px;
    margin: 1% 15% 8% 15%;
    line-height: 40px;
    font-weight: 400;
    text-align: center;
}
.form-container {
    display: flex;
    background-color: white;
    justify-content: space-around;
    flex-direction: row;
    margin-right: 40px; 
    margin-left: 40px;
}
.form-container > div {
    background-color: rgb(252, 243, 244);
    margin-right: 15px; 
    margin-left: 15px;
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 15px;
    padding-right: 30px;
    width: calc(100% / 3);
}
h5 {
    margin-top: 40px;
    margin-right: 200px;
    margin-bottom: 40px;
    background-color: white;
    padding-top: 40px;
    padding-right: 5px;
    padding-bottom: 40px;
    padding-left: 5px;
    font-size: 18px;
}
.words {
    line-height: 30px;
    font-size: 16px;
    margin-bottom: 20px;
}
.T-word {
    color: #dc3545;
    margin-bottom: 20px; 
}
.last {
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
    margin-top: 20%;
    margin-bottom: 5%;
    margin-right: 5px; 
    margin-left: 5px;
}
.last > div {
    line-height: 30px;
    word-spacing: 5px;
}
.reds {
    color: #dc3545;
    
}
#jubilee {
    
    align-items: center;
}
.end {
    margin-top:5%;
    margin-bottom: 10%;
    text-align: center;
}

styling for new.html
.topnav {
    position: fixed;
    list-style-type: none;
    position: fixed;
    top: 0%;
    list-style-type: none;
    margin-bottom: 30px;
    width: 100%;
    padding: 0;
}
.topnav img {
    float: left;
    margin: 2%;
    margin-bottom: 30px;
}
.topnav-right {
    float: right;
    /* margin: 10%; */
    display: flex;
    margin: 2%;
    padding: 2%;
    margin-bottom: 30px;
}
#ab {
    padding-right: 5%;
}
/* .upper1 {
    margin-top: 35%;
    display: flex;
    flex-direction: row;
} */
@media screen and (max-width: 500px) {
    .buttons {
        display: block;
        margin-left: 15%;
        margin-right: 15%;
    }
    #button1 {
        margin-bottom: 30px;
        margin-left: 8%;
        margin-right: 10%;
    }
    .form-container {
        display: block;
        margin-bottom: 10%;
    }
    .form-container > div {
        margin-bottom: 10%;
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;        
    }
    .last {
        display: block;
        text-align: center;
    }

}
